.home-container{
    background-color: rgb(49 46 129 );
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

.home-textcontainer{
    display: flex;
    padding: 1rem;
    text-align: center;
    justify-self: center;
    flex-direction: column;
    margin-left: 10rem;

}
.home-title{
    color: #ffff;
    text-align: center;

}

.home-text{
    color: #ffff;
    
}

.home-button{
    border: solid  #ffff 0.1rem; 
    border-radius: 0.5rem;
    padding: 0.5rem;
   color: #ffff;

}

.home-imagecontainer{
    display: flex;
    justify-content: space-around;

    
}

.home-image{
    width: 34%;
  
 

}